<div class="header">
    <div class="wrap">
  <div class="header_top">
    <div class="logo">
      <a href="index.html"><img src="assets/images/logo.png" /></a>
    </div>
      <div class="header_top_right">
          <div class="search_box">
            <span>Search</span>
             <form>
               <input type="text" value=""><input type="submit" value="">
             </form>
             <div class="clear"></div>
           </div>
    </div>
     <div class="clear"></div>
    </div>     
    <div class="navigation">
      <a class="toggleMenu" href="#">Menu</a>
    <ul class="nav">
      <li>
        <a href="index.html">Trang chủ</a>
      </li>
      <li  class="test">
        <a href="#">Giới thiệu</a>
      </li>
      <li>
        <a href="#">Khuyến mãi</a>
        <ul>
          <li>
            <a href="#">Laptops</a>
            <ul>
              <li><a href="#">HP</a></li>
              <li><a href="#">Lenova</a></li>
              <li><a href="#">Dell</a></li>
              <li><a href="#">All Brands</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Computer Accessories</a>
            <ul>
              <li><a href="#">External Hard Disks</a></li>
              <li><a href="#">Pendrives</a></li>
              <li><a href="#">PC Components</a></li>
              <li><a href="#">Computer Peripherals</a></li>
              <li><a href="#">Datacards & Routers</a></li>
              <li><a href="#">Mouse</a></li>
              <li><a href="#">Laptop Skins & Decals</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Đăng nhập</a>
      
      </li>
      <li>
        <a href="#">Đăng kí</a>
       
      </li>
    
    </ul>
     <span class="left-ribbon"> </span> 
         <span class="right-ribbon"> </span>    
    </div>
     <div class="header_bottom">
   <div class="slider-text">
     <h2>Tivi sony mới cập nhập giá hấp dẫn</h2>
     <p>Tivi với man hình full hd, mới được nhập hàng về<br/> vói giá cực rẻ.</p>
     <a href="#">Xem chi tiết</a>
      </div>
      <div class="slider-img">
        <img src="assets/images/slider-img.png" alt="" />
      </div>
     <div class="clear"></div>
  </div>
 </div>
</div>