<h4 *ngIf="error">{{error}}</h4>
<div id="logreg-forms">
    <form class="form-signin" >
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Bạn đã đặt hàng thành công!!!! Vui lòng kiểm tra Mail để xem chi tiết đơn hàng</h1>
        <div class="social-login">
          <div class="row">
 
            <div class="col-md-6 pl-0">
                <a (click)="callback()" class="btn google-btn social-btn" type="button"><span><i class="fa fa-google mr-2 d-inline"></i> Trở lại</span> </a>
            </div>
              
          </div>
        </div>
       </form>

        <br>
        
</div>