<div class="content_bottom">
  <div class="wrap">
    <div class="content-bottom-left">
      <div class="categories">
        <ul>
          <h3>Phân loại</h3>
          <li class="border"><a href="#">100,000 - 200,000</a></li>
          <li class="border"><a href="#">200,000 - 300,000</a></li>
          <li class="border"><a href="#">300,000 - 400,000</a></li>
          <li class="border"><a href="#">400,000 - 500,000</a></li>
          <li class="border"><a href="#">Trên 500,000</a></li>
        </ul>
      </div>


      <div class="add-banner add-banner2">
        <img src="assets/images/computer.png" alt="" />
        <div class="banner-desc">
          <h4>Computers</h4>
          <a href="#">More Info</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="content-bottom-right">
      <h3>Các sản phẩm trong cửa hàng</h3>
      <div class="section group">

        <div class="row">
            <div class="grid_1_of_4 images_1_of_4 border" *ngFor="let item of collection.data | paginate: config">
                <h4><a [routerLink]="['product-detail/', item._id]">{{item.name}}</a></h4>
                <a [routerLink]="['product-detail/', item._id]"><img [src]="item.linkimage" alt="" class="fix_product" /></a>
                <div class="price-details">
                  <div class="price-number">
                    <p><small class="rupees text-danger">{{item.price}} <small class="text-danger">đ</small> </small></p>
                  </div>
                  <div class="add-cart border">
                    <a type="button" class="btn btn-danger btn-block" (click)="addcart(item)"><i class="fa fa-cart-plus mr-1" aria-hidden="true"></i><small>Thêm vào
                        giỏ</small></a>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
        </div>
        <div class="row"> <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls></div>
       
       
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>