
          <div class="content_top">
              <div class="wrap">
                 <h3>Danh mục sản phẩm</h3>
                 
              </div>
              <div class="line">
                 <div class="row" >
                    <div *ngFor="let item of categorys">
                        <a href="#" title="img1"> <img src="assets/images/latest-product-img1.jpg" alt="" /><p>{{item.name}}</p></a>
                    </div>
                   
                   
                 </div>      
                 <div class="row">
                    </div>                                                         
            </div>
          </div>



